<p>Chers parents,</p>
<p>Vos réponses à ce questionnaire sont essentielles : elles
permettent aux délégués des parents d’élèves, qui sont vos
porte-paroles, de remonter des informations précieuses pour la
classe.</p>
<p>Les questionnaires sont anonymes, cependant vous pouvez choisir
d'ajouter votre nom.</p>
<p>
  <strong><em>Note importante :</em></strong>
  <br /><br />
  Les demandes et questions individuelles ne peuvent pas être traitées
  lors du conseil de classe. Si vous souhaitez échanger plus longuement
  avec un professeur et/ou le professeur principal, n'hésitez pas à
  prendre contact avec eux, via l'adresse électronique de l'ENT ECOLE
  DIRECTE. Les parents délégués sont également là pour vous écouter et
  au besoin vous conseiller.
</p>
<p>Pour une bonne exploitation, les réponses sont à soumettre au plus
  tard le <strong>%(Date limite)s</strong>.
</p>
